<div class="container mt-5" style="margin-bottom: 200px">

  <u><h3 class="text text-danger text-center mb-5">Student Registration Application</h3></u>
  <div class="row">

    <div class="col-sm-3">
      <p>
        In most British Universities, the process of registering all student as members of the institution is largely concentrated into a very short period
        of time. At the University of Newcastle, the registration period occupies a little over a week in October, at the start of the academic year. The purpose of the registration process is to determine which students will be taking courses within the University, and for
        the administration to keep its records up-to-date. From the students point of view, registration enables them to acquire the necessary authorised membership of the University, and for them to obtain their grant cheques. It is usually the case that students will register for
        particular courses, or modules, at the same time, and the information collected is used by members of the teaching staff to construct class lists, etc.
      </p>

    </div>
    <div class="col-sm-3">
      Prior to 1994, registration involved students being registered in a single place within the University, where they would present a form which had previously
      been filled in elsewhere by the student and their department. After registration this information was then transferred to a computerised format. In 1993, the
      University decided that the entire student registration process was to be computerised for the Autumn of 1994. The decision was therefore made to try to decentralise
      the operation so that the end users of the course data, the various University Departments, would have more control over the accuracy of the data entered. It was also
      expected that the delay before the final data could be delivered back to the departments would be considerably reduced.


    </div>
    <div class="col-sm-3">
      The registration process is extremely important to the University and the students: the University cannot receive payment for teaching the students, and students cannot
      receive their grants or be taught until they have been registered. The computerised registration system was intended to tolerate machine and network failures. It was hoped
      that most human errors, such as incorrectly inputting data, would be detected by the system as they occurred, but it was expected that some "off-line" data manipulation would be necessary for errors which had not been forseen.
      Therefore, the success of any attempt to computerise this activity depends on the reliability, availability and integrity of the computer systems, both software and hardware, on which the registration programs are run.


    </div>

    <div class="col-sm-3" >

      The Arjuna distributed system [ref] has been under development in the Computing Science Department at the University since 1986. The first public release of the system was made available in 1992, and since then the system
      has been used by a number of academic and commercial organisations. Arjuna's design aims are to provide a set of tools to assist in the construction of fault-tolerant, distributed applications using atomic actions (transactions)
      [ref] and replication to maintain availability and consistency. It was felt that a student registration system built using Arjuna would provide a test application which would exercise the Arjuna system much more rigorously than had
      hitherto been attempted, and would result in a registration system which exhibited the reliability and availability required.


    </div>

    <br><br>
     <button class="btn btn-primary" routerLink="/add">Getting Started</button>



  </div>












</div>
